<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>first flask app</title>
 </head>
 <body>
     {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% endblock %}
 </body>  
</nav>
</html>